/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

a.nav-link.btn.selected {
    background-color: #333;
    color: #f8f9fa;
}

div.carousel-inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 200px; /* Change this from 100% to a fixed value */
}
