<div class="home">
  <div class="carousel">
    <carousel
    [isAnimated]="true"
    [interval]="3000"
    >
      <slide *ngFor="let image of images">
        <img [src]="image" alt="Slide image">
      </slide>
    </carousel>
  </div>
  <div>
    <p>Since 2007, Fit Rite Construction and Renovation has been providing quality construction work in mainland Nova Scotia.</p>
    <p>Fit Rite Construction and Renovation, located in Halifax, Nova Scotia provides quality decks, pergolas, gazebos, screen rooms, kitchens, bathrooms, windows and doors, and more. We provide full garage packages, as well as new home construction, including custom moulding and trim work.</p>
    <p>We are committed to the highest standards of quality, and we deliver on time, and on budget.</p>
    <ul>
      <li>in trade since 1991</li>
      <li>in business since 2007</li>
      <li>Quality is of foremost importance</li>
      <li>on time on budget</li>
      <li>we do decks, pergolas, gazebos, screen rooms, kitchens, bathrooms, windows and doors, additions and renovations, full garage packages and new home construction, custom moulding and trim work</li>
      <li>excellent relationships with building inspectors</li>
      <li>long list of references</li>
      <li>Accredited BBB business</li>
      <li>use National Building Code as a minimum standard of quality</li>
      <li>insured and WCB covered</li>
      <li>work with trusted, reputable subtrades (plumbers, electricians, etc.)</li>
    </ul>
  </div>
</div>
