<div class="home">
    <div class="whole-width">
        <img src="assets/images/mullins_deck_2.png" alt="Fit Rite Construction and Renovation" />
        <div>

            <div class="section">
                <div class="section-text">
                    <h2>Fit Rite Construction and Renovation</h2>
                    <p>
                        Since 2007, Fit Rite Construction and Renovation has been providing
                        quality construction work in mainland Nova Scotia.
                    </p>
                    <p>
                        Fit Rite Construction and Renovation, located in Halifax, Nova
                        Scotia provides quality decks, pergolas, gazebos, screen rooms,
                        kitchens, bathrooms, windows and doors, and more. We provide full
                        garage packages, as well as new home construction, including custom
                        moulding and trim work.
                    </p>
                </div>
                <div class="section-image">
                    <img src="assets/images/beach_deck_home.png" alt="Fit Rite Construction and Renovation" />
                </div>
            </div>
            <div class="section">
                <div class="section-image">
                    <img src="assets/images/kitchen_home.jpg" alt="Fit Rite Construction and Renovation" />
                </div>
                <div class="section-text">
                    <h2>Quality Work</h2>
                    <p>
                        We are committed to the highest standards of quality, and we deliver
                        on time, and on budget.
                    </p>
                    <ul>
                        <li>in trade since 1991</li>
                        <li>in business since 2007</li>
                        <li>Quality is of foremost importance</li>
                        <li>on time on budget</li>
                    </ul>
                </div>
            </div>
            <div class="section">
                <div class="section-text">
                    <h2>Why Choose Fit Rite Construction and Renovation?</h2>

                    We do decks, pergolas, gazebos, screen rooms, kitchens,
                    bathrooms, windows and doors, additions and renovations, full
                    garage packages and new home construction, custom moulding and
                    trim work
                    <ul>
                        <li>
                        <li>excellent relationships with building inspectors</li>
                        <li>long list of references</li>
                        <li>Accredited BBB business</li>
                        <li>use National Building Code as a minimum standard of quality</li>
                        <li>insured and WCB covered</li>
                        <li>
                            work with trusted, reputable subtrades (plumbers, electricians,
                            etc.)
                        </li>
                    </ul>
                </div>
                <div class="section-image">
                    <img src="assets/images/sanctuary_home.png" alt="Fit Rite Construction and Renovation" />
                </div>
            </div>
        </div>
