<h2>Decks</h2>
<div id="deck-gallery" class="gallery">
    <a *ngFor="let image of deckImages; index as i" target="_blank">
        <img [src]="image.thumb" (click)="open(deckImages, i)" />
    </a>
</div>
<h2>Kitchens</h2>
<div id="kitchen-gallery" class="gallery">
    <a *ngFor="let image of kitchenImages; index as i" target="_blank">
        <img [src]="image.thumb" (click)="open(kitchenImages, i)" />
    </a>
</div>

<h2>Other Work</h2>
<div id="misc-gallery" class="gallery">
    <a *ngFor="let image of featuredImages; index as i" target="_blank">
        <img [src]="image.thumb" (click)="open(featuredImages, i)" />
    </a>
</div>
