<h2>Decks</h2>
<div *ngFor="let image of deckImages; index as i">
    <img [src]="image.thumb" (click)="open(i)" />
</div>
<h2>Kitchens</h2>
<div id="deck-gallery" class="gallery">
    <a *ngFor="let image of kitchenImages" [href]="image" target="_blank">
        <img [src]="getThumbnail(image)" alt="Kitchen image" />
    </a>
</div>

<h2>Other Work</h2>
<div class="gallery">
    <a *ngFor="let image of otherImages" [href]="image" target="_blank">
        <img [src]="getThumbnail(image)" alt="Other work image" />
    </a>
</div>
