<h2>Decks</h2>
<div class="gallery">
    <a *ngFor="let image of deckImages; let i = index" [href]="image" target="_blank">
        <img [src]="image.thumb" alt="Deck image" (click)="open(i)"/>
    </a>

</div>

<h2>Kitchens</h2>
<div id="deck-gallery" class="gallery">
    <a *ngFor="let image of kitchenImages" [href]="image" target="_blank">
        <img [src]="getThumbnail(image)" alt="Kitchen image" />
    </a>
</div>

<h2>Other Work</h2>
<div class="gallery">
    <a *ngFor="let image of otherImages" [href]="image" target="_blank">
        <img [src]="getThumbnail(image)" alt="Other work image" />
    </a>
</div>
