<div>
<p>Fit Rite Construction and Renovation is located in Lower Sackville, Nova Scotia. We provide our services anywhere in mainland Nova Scotia.</p>
  <p>Our list of services includes:</p>
  <ul>
  <li>Decks</li>
  <li>Pergolas</li>
  <li>Gazebos</li>
  <li>Screen Rooms</li>
  <li>Kitchens</li>
  <li>Bathrooms</li>
  <li>Windows and Doors</li>
  <li>Additions and Renovations</li>
  <li>Full Garage Packages</li>
  <li>New Home Construction</li>
  <li>Custom Molding &amp; Trim Work</li>
  </ul>
  <p>Fit Rite Construction &amp; Renovation has been in business since 2007. Greg MacMullin has worked in the trade since 1991. Quality is of foremost importance to us, and we complete projects on time and on budget.</p>
  <p>We use the National Bilding Code as a minimum standard of quality, and we enjoy excellent relationships with building inspectors. We are fully insured and covered under Workers Compensation Board. We only work with trusted, reputable subtrades (plumbers, electricians, etc.)</p> 		</div>
